body{
    background: #FFFFF3;
}

table{
    border: 1px solid #000000;  
}

td{
    th{
        border: 1px solid #000000;
        text-align: left;
        border-bottom: 2px solid #000000;
    }
}

.left{
    width: 25%;
    color: blue;
    background: #DDD;
    border: 1px solid #000000;
}

.right{
    width: 50%;
    color: red;
    background: #DDD;
}
