body{
    background: #FFFFF3;
}

.btn{
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

table{
    border: 1px solid #000000;
    width: 100%;
    margin: auto;
    background-color: #888888;
}

th{
    border: 1px solid #000000;
    text-align: center;
    border-bottom: 2px solid #000000;
    background-color: #009900;
    color: #FFFFF3;
}

tr{
    border: 1px solid #000000;
    text-align: center;
    color: #CC0000;
}

tr:nth-child(even){
    background-color: #FFFFF3;
    color: #0000FF;
}